@import "../../../../RoadWatch.Common/Content/styles/bootstrap/bootstrap/_variables.scss";
@import "../../../../RoadWatch.Common/Content/styles/bootstrap/bootstrap/_mixins.scss";

// Navigation Classes
.navbar li a {
    font-size: 15px !important;
}

.navbar-right-margin {
    margin-right: 0 !important;
}

.fixed-width-container {
  margin-right: auto;
  margin-left: auto;
  @include clearfix;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}