<div class="row">
    <div class="col-md-12 home-backer">
        <div class="row home-welcome">
            <div class="col-md-12">
                <h1>Welcome</h1>
                <p>
                    The Road Report Website provides up-to-date road condition information on all Government controlled roads.
                </p>
                <p>
                    Road conditions across the Territory can change rapidly depending on the time of year you travel.
                    We have made it easy to stay updated with the latest information online, via free call or through Facebook
                </p>
                <p>
                    Road condition information is automatically and simultaneously updated during normal working hours, Monday - Friday.
                    Weekend reporting is provided during the wet season or other significant weather events as needed.
                </p>
                <p>
                    If you are travelling through Aboriginal Land, permits may be required.
                    Please contact the relevant land council for further information.
                </p>
            </div>
        </div>
        <div class="row home-welcome">
            <div class="col-md-12">
                <div class="social-btn-group" style="padding-bottom: 20px;">
                    <a class="btn btn-sm btn-social btn-facebook" target="_blank" href="http://facebook.com/roadreportnt">
                        <span class="fa fa-facebook"></span> Like us on Facebook!
                    </a>
                    <a class="btn btn-sm btn-social btn-success" href="tel:1800-246-199">
                        <span class="fa fa-phone"></span> Freecall 1800 246 199
                    </a>
                </div>
            </div>
            <div style="padding-bottom: 35px;"></div>
        </div>
    </div>
</div>


<!--<div class="row home-backer"></div>
<div class="row">
    <div class="home-welcome">
        <div class="col-md-12">
            <h1>Welcome</h1>
            <p>
                The Road Report Website provides up-to-date road condition information on all Government controlled roads.
            </p>
            <p>
                Road conditions across the Territory can change rapidly depending on the time of year you travel.
                We have made it easy to stay updated with the latest information online, via free call or through Facebook
            </p>
            <p>
                Road condition information is automatically and simultaneously updated during normal working hours, Monday - Friday.
                Weekend reporting is provided during the wet season or other significant weather events as needed.
            </p>
            <p>
                If you are travelling through Aboriginal Land, permits may be required.
                Please contact the relevant land council for further information.
            </p>
        </div>
        <div class="col-md-12 social-btn-group home-welcome-base">
            <a class="btn btn-sm btn-social btn-facebook" target="_blank" href="http://facebook.com/roadreportnt">
                <span class="fa fa-facebook"></span> Like us on Facebook!
            </a>
            <a class="btn btn-sm btn-social btn-success" href="tel:1800-246-199">
                <span class="fa fa-phone"></span> Freecall 1800 246 199
            </a>
        </div> 
    </div>
</div>-->
